<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>MacRaZy BookStore Cart</title>
        <h:outputStylesheet name="bookselection.css" library="css"/>
    </h:head>
    <h:body>
        <h1>MacRaZy BookStore</h1>
        <h3>Your Cart</h3>
        <ul>
            <ui:repeat value="#{bookSelectionBean.cart}" var="book">
                <li>#{book}</li>
            </ui:repeat>
        </ul>
        <p><b>Total price: £#{bookSelectionBean.totPrice}</b></p>
        <p><h:outputLink value="index.xhtml">Return to MacRaZy BookStore
            </h:outputLink></p>
    </h:body>
</html>