<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>MacRaZy BookStore</title>
        <h:outputStylesheet name="bookselection.css" library="css"/>
    </h:head>
    <h:body>
        <h1>MacRaZy BookStore</h1>
        <h3>Welcome to our BookStore</h3>
        <p>Please make your selection below and press <em>"Add to Cart"</em>:</p>
        <h:form>
            <h:selectOneRadio id="bookSelection" required="true"
                              value="#{bookSelectionBean.book}">
                <f:selectItem itemValue="scala" itemLabel="Programming in Scala"/>
                    <f:selectItem itemValue="python" itemLabel="Learning Python"/>
                        <f:selectItem itemValue="java" itemLabel="Java: How to Program"/>
                <f:selectItem itemValue="android" itemLabel="Android: How to Program"/>
                    <f:selectItem itemValue="ruby" itemLabel="Beginning Ruby"/>
                <f:selectItem itemValue="cpp" itemLabel="C++: How to Program"/>
            </h:selectOneRadio>
        <p><h:commandButton value="Add to Cart"/></p>
        </h:form>
        <p><h:outputLink value="cart.xhtml">Your cart</h:outputLink></p>
    </h:body>
</html>